<!-- The main page of playlister -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/artists/index.html">Artists - <%=Artist.all.count%></a>
    <a href="/genres/index.html">Genres - <%=Genre.all.count%></a>
    <a href="/songs/index.html">Songs - <%=Song.all.count%></a>
  </body>
</html>
